{{- partial "header.html" . -}}
{{- $baseurl := .Site.BaseURL -}}

<div class="mf-post-title-date">{{ .Date.Format "Jan 2, 2006" }}</div>
<h1 class="mf-post-title">{{ .Title }}</h1>

<section class="mf-post">
{{ .Content }}
</section>

<!-- <footer>
  {{ with .Site.DisqusShortname }}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '{{ . }}';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {{ end }}
</footer> -->

{{ partial "footer.html" . }}
