<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <!-- // CSS Reset – http://meyerweb.com/eric/tools/css/reset/ -->
    <link rel="stylesheet" type="text/css" href="//misfra.me/css/reset.css" media="all">
    <link rel="stylesheet" type="text/css" href="//misfra.me/css/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="//misfra.me/css/highlight.css" media="all">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="//misfra.me/img/favicon.png">
    <link rel="alternate" type="application/atom+xml" title="Feed" href="//misfra.me/feed">
    <title>
    {{ if ne .URL "/" }} {{ .Title }} - {{ end }} {{ .Site.Title }}
    </title>
  </head>
<body>
  <div class="wrapper">
    <h1 class="site-title"><a href="/">Misframe <em>by</em> Preetam Jinka</a></h1>
