<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111682615-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111682615-3');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/highlight.css" media="all">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/feed">
    {{ if .Params.twitter_card }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Params.twitter_card.description }}" />
    <meta name="twitter:image" content="{{ .Params.twitter_card.image }}" />
    {{ end }}
    <title>
      {{ .Site.Title }} - {{ if ne .RelPermalink "/" -}}{{ .Title }}{{ else }}Home{{ end }}
    </title>
  </head>
<body>
  <div class="wrapper">
    <div class="mf-site-title">
      <h1><a href="/">Misframe</a></h1>
      <span class="mf-site-title-by-line"><span class="mf-site-title-by">by</span> Preetam Jinka</span>
      <div class="mf-header-nav-links">
          <a href="/top-posts">Top posts</a>
          <a href="/archive">Archive</a>
      </div>
    </div>
