<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/highlight.css" media="all">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,900" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/feed">
    <title>
    {{ if ne .URL "/" }} {{ .Title }} - {{ end }} {{ .Site.Title }}
    </title>
  </head>
<body>
  <div class="wrapper">
    <h1 class="site-title"><a href="/">Misframe <span class="site-title-by">by</span> Preetam Jinka</a></h1>
