.hljs-keyword {
  font-weight: bold;
}

.hljs-typename {
  font-style: italic;
}

.hljs-string {
  color: #333;
}

.hljs-comment {
  color: #888;
}

@media (prefers-color-scheme: dark) {
  .hljs-string {
    color: #eee;
  }

  .hljs-comment {
    color: #aaa;
  }
}
