body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

.wrapper {
  max-width: 90%;
  width: 700px;
  margin: 2rem auto;
}

.mf-site-title {
  margin-bottom: 2rem;
}

.mf-site-title h1 {
  margin: 0;
  display: inline;
  line-height: 100%;
}

.mf-site-title h1 a {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  letter-spacing: -1px;
  margin-right: 2px;
}

.mf-site-title-by-line {
  color: #555;
}

.mf-site-title-by {
  font-style: italic;
}

.mf-header-nav-links {
  margin-top: 10px;
}

.mf-header-nav-links a {
  text-decoration: none;
  margin-right: 24px;
  color: #555;
}

a.mf-keep-reading {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: #000;
}

.mf-article-separator {
  margin: 4rem auto;
}

.mf-list-item {
  margin: 20px 0;
}

.mf-list-link {
  font-size: 20px;
  line-height: 1.33;
  margin-bottom: 5px;
}

.mf-list-link a {
  color: #424242;
  text-decoration: none;
}

.mf-list-date {
  font-size: 15px;
  color: #c0c0c0;
  font-weight: normal;
}

.mf-post-title, .mf-post-title a {
  font-size: 41px;
  margin: 0 0 1rem 0;
  text-decoration: none;
  line-height: normal;
  letter-spacing: -0.03rem;
}

.mf-post-title-date {
  line-height: 200%;
  color: #c0c0c0;
  font-weight: bold;
}

.mf-post {
  line-height: 150%;
}

.mf-post {
  color: #000;
}

.mf-post h1, .mf-post h2, .mf-post h3, .mf-post h4, .mf-post h5, .mf-post h6 {
  color: #000;
  line-height: normal;
  letter-spacing: -0.03rem;
}

.mf-post strong {
  font-weight: 700;
}

.mf-post img {
  max-width: 100%;
}

.mf-post a {
  text-decoration: none;
  border-bottom: 2px solid #ccc;
}

.mf-post .mf-captioned-image {
  margin: 2em 0;
}

.mf-post .mf-captioned-image .mf-caption {
  color: #777;
  line-height: 100%;
  font-size: 12px;
}

.mf-footer {
  clear: both;
  border-top: 1px solid #aaa;
  font-size: 0.85rem;
  line-height: 150%;
  margin: 4rem 0 1rem 0;
  color: #777;
}

.mf-footer .mf-portrait {
  border-radius: 100%;
  height: 80px;
  float: left;
  margin: 1rem 1rem 1rem 0;
}

.mf-footer a {
  color: inherit;
  text-decoration: underline;
}

/* Misc elements */

hr {
  border: none;
  display: block;
  margin: 2rem;
  background-color: #eee;
  height: 1px;
  width: 80%;
}

pre {
  font-size: 13px;
  padding: 10px;
  line-height: 130%;
  border: 1px solid #eee;
  tab-size: 4;
  border-radius: 3px;
  overflow: auto;
}

p code, li code {
  padding: 0 4px;
  background-color: #f0f0f0;
  font-size: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: 10px solid #eee;
  color: #444;
  overflow: auto;
}
