body {
  font-family: "chronica_pro", Verdana, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialias;
}

.wrapper {
  max-width: 90%;
  width: 624px;
  margin: 3rem auto;
}

.mf-site-title {
  border-bottom: 1px solid #000;
  padding: 1rem 0;
}

.mf-site-title h1 {
  margin: 0;
}

.mf-site-title h1 a {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  letter-spacing: -1px;
}

.mf-site-title-by-line {
  font-weight: 300;
}

.mf-site-title-by {
  font-style: italic;
}

.mf-home-section {
  margin-bottom: 5rem;
  font-weight: 300;
  font-size: 18px;
}

.mf-home-section h2 {
  font-weight: 700;
  font-size: 24px;
}

.mf-home-section p a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #eee;
}

.mf-read-this-first {
  font-weight: 100;
  font-style: italic;
}

.mf-list-item {
  margin: 20px 0;
}

.mf-list-link {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 300;
  margin-bottom: 5px;
}

.mf-list-link a {
  color: black;
  text-decoration: none;
}

.mf-list-date {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.mf-post-title {
  font-weight: 400;
  margin: 1rem 0 5px 0;
  font-size: 36px;
  line-height: 1.33;
}

.mf-post-title-date {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.mf-post {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

.mf-post strong {
  font-weight: 700;
}

.mf-post img {
  max-width: 100%;
}

.mf-post a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #eee;
}

.footer {
  font-size: 0.9rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
  color: #222;
  font-weight: 200;
}

.footer a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}

/* Misc elements */

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

hr {
  border: none;
  display: block;
  margin: 2rem;
  background-color: #eee;
  height: 1px;
  width: 80%;
}

pre {
  font-size: 13px;
  padding: 10px;
  border: 1px solid #eee;
  tab-size: 4;
  border-radius: 3px;
  overflow: auto;
}

p code {
  color: #333;
  padding: 0 2px;
  background-color: #f8f8f8;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: 10px solid #eee;
  color: #666;
  overflow: auto;
}
