body {
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 0;
  font-size: 16px;
  line-height: 25.875px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
}

a {
  text-decoration: none;
  color: #333;
  padding-bottom: 0.1em;
  border-bottom: 1px dashed #ddd;
}

.post-date {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
}

.article-list .post-date {
  text-align: left;
}

div.wrapper {
  width: 50em;
  max-width: 90%;
  margin: 0px auto;
  padding: 50px 0;
}

p {
  margin: 0px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 28.88px;
}

div.basic {
  margin: 0 auto;
  text-align: center;
  width: auto;
}

h1.site-title {
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
  font-style: Normal;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-style: Normal;
  font-size: 33px;
  line-height: 150%;
}

h2 {
  font-weight: 300;
  font-style: Normal;
  font-size: 20px;
  line-height: 220%;
}

em {
  text-transform: none;
  font-weight: 400;
  font-style: italic;
  margin: 0px 1px;
}

section.post h2 {
  text-align: left;
  text-transform: uppercase;
}

h2.post-header {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  font-style: Normal;
  color: rgba(86, 86, 86, 1);
}

p + h2 {
  margin-top: 0.5em;
}

p + p {
  margin-top: 1em;
}

hr {
  border: none;
  width: 50%;
  background-color: #ddd;
  height: 1px;
  margin: 1em auto;
}

blockquote {
  border-left: 8px solid #ddd;
  margin: 0.7em 0.7em 0.7em 0;
  padding-left: 1em;
  color: #333;
}

pre code {
  font-family: monospace;
  display: block;
  background-color: #fafafa;
  margin: 0.5em;
  padding: 1em;
  font-size: 12px;
  line-height: 160%;
}

img {
  max-width: 100%;
}

ul {
  list-style: disc;
  list-style-position: inside;
  margin-left:  0.5em;
  padding-left: 0.5em;
}

ol {
  list-style: decimal;
  list-style-position: inside;
  margin: 0.5em;
  padding-left: 0.5em;
}

ul p {
  line-height: 100%;
}

ul li, ol li {
  font-size: 14px;
}

ul ul li {
  list-style-type: circle;
}

ul.pager {
  list-style: none;
  text-align: center;
  margin: 1em auto;
  display: block;
  width: 150px;
}

.pager a {
  border: none;
}

ul.pager li.previous {
  float: left;
}

ul.pager li.next {
  float: right;
}

h1.site-title {
  margin-bottom: 1em;
}

h1.site-title a {
  border: none;
}

p code {
  font-family: monospace;
}

a.read-more {
  text-transform: uppercase;
  border: none;
  font-size: 0.8em;
  margin: 2em;
}

h2.list-title {
  margin: 0;
  line-height: 120%;
  font-weight: normal;
}

h2.list-title a {
  border: none;
}
