{{- partial "header.html" . -}}

{{- $posts := first 6 .Site.RegularPages -}}
{{- range first 5 $posts -}}
<div class="mf-index-summary-section">
  <div class="mf-post-title-date">{{ .Date.Format "Jan 2, 2006" }}</div>
  <h1 class="mf-post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  <div class="mf-post">
    {{ .Summary }}
  </div>

  {{ if .Truncated }}
  <a class="mf-keep-reading" href="{{ .RelPermalink }}">Keep reading→</a>
  {{ end }}
</div>

<hr class="mf-article-separator">
{{- end -}}

{{- range after 5 $posts -}}
<div class="mf-index-summary-section">
  <div class="mf-post-title-date">{{ .Date.Format "Jan 2, 2006" }}</div>
  <h1 class="mf-post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  <div class="mf-post">
    {{ .Summary }}
  </div>

  {{ if .Truncated }}
  <a class="mf-keep-reading" href="{{ .RelPermalink }}">Keep reading→</a>
  {{ end }}
</div>
{{- end -}}

{{- partial "footer.html" . -}}
